<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Profile - YourTable</title>
</head>
<body>
    <form action="/admin/{{admin.username}}?_method=PUT" method="POST">
        <label for="username">
            Username: <p>{{admin.username}}</p>
        </label>
        <br>
        <label for="fname">
            First Name: <span class="text">*</span> <input type="fname" name="fname" id="fname" placeholder="Enter first name" value="{{admin.fname}}" required>
        </label>
        <br>
        <label for="lname">
            Last Name: <input type="text" name="lname" id="lname" placeholder="Enter last name" value="{{admin.lname}}">
        </label>
        <br>
        <label for="phone_number">
            Phone Number: <span class="required">*</span> <input type="number" name="phone_number" id="phone_number" placeholder="Enter phone number" value="{{admin.phone_number}}" required>
        </label>
        <br>
        <label for="email">
            Email: <span class="required">*</span> <input type="email" name="email" id="email" placeholder="Enter email" value="{{admin.email}}" required>
        </label>
        <br>
        <label for="password">
            Password: <span class="required">*</span> <input type="password" name="password" id="password" placeholder="Enter password" required>
        </label>
        <br>
        <button type="submit">Save</button>
    </form>
</body>
</html>